Repository huggingface/chat-ui, pull requests merged in 2024-12, with the labels that each got.

#1605 feat: UI for advanced reasoning models
  chart/env/prod.yaml
  src/lib/components/OpenWebSearchResults.svelte
  src/lib/components/chat/ChatMessage.svelte
  src/lib/components/chat/MarkdownRenderer.svelte
  src/lib/components/chat/OpenReasoningResults.svelte
  src/lib/server/generateFromDefaultEndpoint.ts
  src/lib/server/models.ts
  src/lib/server/textGeneration/generate.ts
  src/lib/server/textGeneration/reasoning.ts
  src/lib/server/textGeneration/title.ts
  src/lib/server/websearch/search/generateQuery.ts
  src/lib/types/Message.ts
  src/lib/types/MessageUpdate.ts
  src/lib/utils/getReturnFromGenerator.ts
  src/routes/conversation/[id]/+page.svelte
  src/routes/conversation/[id]/+server.ts
Labels: enhancement, front, back

#1613 feat: add extra affordances to make it obvious websearch & reasoning can be opened
  src/lib/components/OpenWebSearchResults.svelte
  src/lib/components/chat/ChatInput.svelte
  src/lib/components/chat/OpenReasoningResults.svelte
Labels: front

#1615 feat: improve tool calling & add tools to qwen 2.5 72b
  chart/env/prod.yaml
  package-lock.json
  package.json
  src/lib/server/models.ts
  src/lib/server/textGeneration/tools.ts
  src/lib/server/websearch/search/endpoints/bing.ts
Labels: enhancement, back, models, tools, huggingchat

#1617 config(hchat): model update 06-12-24
  chart/env/prod.yaml
Labels: models, huggingchat

#1618 feat(openai): added support for o1 reasoning models
  docs/source/configuration/models/providers/openai.md
  src/lib/server/endpoints/openai/endpointOai.ts
Labels: enhancement, back, models

#1630 feat: new tool UI
  chart/env/prod.yaml
  src/lib/components/HoverTooltip.svelte
  src/lib/components/ToolLogo.svelte
  src/lib/components/chat/ChatInput.svelte
  src/lib/components/chat/ChatWindow.svelte
  src/lib/components/chat/FileDropzone.svelte
  src/lib/components/icons/IconImageGen.svelte
  src/lib/components/icons/IconInternet.svelte
  src/lib/components/icons/IconPaperclip.svelte
  src/lib/server/textGeneration/tools.ts
  src/lib/types/Tool.ts
  src/lib/utils/toolIds.ts
  src/routes/+layout.server.ts
  src/routes/conversation/[id]/+server.ts
Labels: front, tools
